*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    
}
:root{
    --background-color1:#F4E2D7 ;
    --background-color2:#FF7220;
    --background-color3: rgba(17, 17, 17, 0.1);
    --background-color4:#FFFFFF;
    --colorleter1:#111111;
    --background-color5:#101010;
    --color-letter2:rgba(255, 255, 255, 0.5);
}
.MetaConteiner{
    /*border:solid black;*/
    width:100%;
    max-width: 1440px;
}