

.inifo{
    width: 1440px;
height: 358px;
position: relative;
top:250px;
border:solid black;
}

.endf{
    display:flex;
    justify-content: space-between;
}
.polic{
    display:flex ;
    gap:10px;
}