
.container{
background-color: var(--background-color1);
 width: 1440px;
height: 808px;
    
    
    
}
.header{
 
    display:flex;
    justify-content: space-between;
    padding: 30px 120px;
    align-items: center;

}

.nav{
    display:flex;
    /*grid-template-columns: repeat(4,1fr);*/
    
    justify-content: start;
    height: 39px;    
    width: 404px;
    /*background-color: aqua;*/



}
.home{
    display: flex;
    border: 1px solid #111111;
  align-items: center;
  
  width: 98px;
  justify-content: center;

}
.home>p{
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
color:var(--colorleter1);

}
.simil{
display: flex;
border-style: solid;
border-width: 1px 1px 1px 0px;
border-color: rgba(17, 17, 17, 0.5);

align-items: center;
justify-content: center;

}
.simil>p{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
color: rgba(17, 17, 17, 0.5);
}
.p1{
    width: 96px;
}
.p2{
    width: 97px;
}
.p3{
    width: 113px;
}

.circle>p{
 font-family: 'MADE SAONARA';
font-style: normal;
text-transform: uppercase;
font-size: 48px;
color: var(--colorleter1);


}
.search{
    display: flex;
    align-items: center;
    background: var(--background-color4);
    border-radius: 12px;
    width: 256px;
    height: 44px;
}
.search> h4{
font-family: 'Inter';
font-style: normal;
color: rgba(17, 17, 17, 0.5);
font-size: 14px;
}
.button{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 22px;
gap: 10px;

background: var(--background-color2);
border-radius: 12px;

color:var(--background-color4);
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 600;

}
/*.button>p{
    color:var(--background-color4);
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 600;
}
*/

.winter{
position: relative;
width: 698px;
/*border: solid black;*/
left: 120px;
 height: 177px;
 top:30px;
 


}
.winter>p{
 font-family: 'Goldman';
font-style: normal;
font-weight: 700;
font-size: 147.494px;
line-height: 120%;
text-transform: uppercase;
text-align: start;
}

.collection{
  position: relative;  
 display: flex;
font-family: 'Goldman';
font-style: normal;
text-transform: uppercase;
align-items: center;
width: 719.48px;
height: 184px;
left: 345px;
bottom: 770px;



}
.capital{
font-weight: 400;
font-size: 153.673px;
line-height: 120%;

color: #111111;


}
.text{
    font-weight: 700;
font-size: 92.2038px;
line-height: 120%;
color: #111111;


}

.fig1{

   /*border:solid #111111;*/
    position: relative;
   width: 516px;
    height: 627px;
    left: 805px;
    bottom: 115px;
    


    
    
}
.fig2{
    display: flex;
  position: relative;  
 box-sizing: border-box;
 width: 201.82px;
 height: 260.73px;
left: 140.57px;
bottom: 500px;


/* Primary color */
border: 2px solid var(--background-color2);
border-radius:50%;
justify-content: center;
align-items: center;

}
.fig2> img{
    width: 145.59px;
height: 170.17px;

}

.fig3{
position: relative;
width: 222px;
height: 148.12px;
left: 609px;
bottom: 830px;

}
